html, body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    font-size: 1em;
}

svg {
    position: fixed;
    background-color: lightgreen;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#preloader{
    background: #000 url(./preloading.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
a:hover {
    text-decoration: underline;
}
a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}


.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


input[name="recipe"]:hover {
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 1);
}

input[name="recipe"]:focus {
    outline: none;
}

.undertop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0px 20px
}

.right_side{
    background-color: white;
    padding: 20px;
    border-radius: 13px;
}

.left_side {
    background-color: white;
    padding: 20px;
    border-radius: 13px;
}



.bottom-side {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
}


.send-email-form form {
    display: flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 13px;
}


.send-email-form form input {
    width: 250px;
    height: 30px;
    border-radius: 13px;
    padding-left: 10px;
    border: 1px solid #d3d3d3;
    font-style: italic;
}

.send-email-form form button {
    background-color: blanchedalmond;
    border: 0;    
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}


.footer {
    color: black;
    text-align: center;
}

@media (max-device-width: 320px) {
    input[name="recipe"] {
        max-width: 250px;
        height: 60px;
    }

    .top-side form button {
        display: none;
    }

    .send-email-form button {
        display: none;
    }



}
@media (min-device-width: 321px) and (max-device-width: 374px) {
    input[name="recipe"] {
        max-width: 236px;
        height: 60px;
    }

    .send-email-form button {
        display: none;
    }

}

@media (min-device-width: 375px) and (max-device-width: 430px) {
    input[name="recipe"] {
        max-width: 270px;
        height: 60px;
    }


}

@media (min-device-width: 431px) and (max-device-width: 560px) {
    input[name="recipe"] {
        max-width: 330px;
        height: 60px;
    }
}

@media (min-device-width: 561px) and (max-device-width: 675px) {
    input[name="recipe"] {
        max-width: 460px;
        height: 60px;
    }
}

